# projects files
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db
# Mac DS_Store Files
.DS_Store
# composer itself is not needed
composer.phar

# project public files build with assetc command
/Resources/public
