{% extends '@SbSAdminLTE/Layout/simple.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block page_content %}
    <div class="login-box">
        {% block admin_lte_logo %}
            <div class="login-logo">
                <a href="{{ path('homepage') }}"><b>Admin</b>LTE</a>
            </div>
        {% endblock %}
        <div class="card">
            <div class="card-body login-card-body">
                <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
            </div>
        </div>
    </div>
{% endblock %}
