{% extends '@SbSAdminLTE/Layout/simple.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block page_content %}
    <div class="login-box">
        {% block admin_lte_logo %}
            <div class="login-logo">
                <a href="{{ path('homepage') }}"><b>Admin</b>LTE</a>
            </div>
        {% endblock %}
        <div class="login-box-body">
            {% block reset_request_form %}
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="form-group has-feedback">
                        <input class="form-control" type="text" id="username" name="username" required="required"
                               placeholder="{{ 'resetting.request.username'|trans }}"/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block btn-flat" type="submit">
                            {{ 'resetting.request.submit'|trans }}
                        </button>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
