{% macro page_header(title, description) %}
    <h1>
        {{ title }}
        {% if description %}
            <small>{{ description }}</small>
        {% endif %}
    </h1>
{% endmacro %}

{% macro card_header(title, collapse, remove) %}
    <div class="card-header">
        <h3 class="card-title">{{ title }}</h3>
        {{ block('card_header_buttons') }}
    </div>
{% endmacro %}

{% block card_header_buttons %}
    <div class="card-tools">
        {% if collapse %}
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        {% endif %}
        {% if remove %}
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        {% endif %}
    </div>
{% endblock %}
