{% extends '@SbSAdminLTE/Layout/base.html.twig' %}
{% block title %}AdminLTE 3 | Log in{% endblock %}
{% block body %}
    <body class="hold-transition login-page">
    {% block page_content %}This page has no content.{% endblock %}
    </body>
{% endblock %}
